.air-section {
  background-image: url("../images/air_plane_link.jpeg");
}
.sea-section {
  background-image: url("../images/linkseafreight-background_12.jpg");
}
.storage-section {
  background-image: url("../images/linkstorage-background.jpg");
}
.distribution-section {
  background-image: url("../images/linkdistribution-background.jpg");
}
.parallax-section {
  position: relative;
  opacity: 0.8;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.parallax-section div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parallax-section p {
  font-family: "Aller", sans-serif;
  font-size: 4em;
  color: rgba(77, 108, 180, 0.8);
  text-transform: uppercase;
  text-align: center;
}