.service-wrapper {
  background: rgba(75,232,80,0.7);
  background: -moz-linear-gradient(top, rgba(75,232,80,0.7) 0%, rgba(238, 238, 239, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(75,232,80,0.7) 0%, rgba(238, 238, 239, 1) 100%);
  background: -o-linear-gradient(top, rgba(75,232,80,0.7) 0%, rgba(238, 238, 239, 1) 100%);
  background: -ms-linear-gradient(top, rgba(75,232,80,0.7) 0%, rgba(238, 238, 239, 1) 100%);
  background: linear-gradient(to bottom, rgba(75,232,80,0.7) 0%, rgba(238, 238, 239, 1) 100%);
}

.service {
  margin: auto 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.service a {
  color: black;
  display: block;
  width: 35%;
  margin: 2%;
  padding: 20px;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.service-common {
  padding: 0;
}

.service-common h1 {
  color: #606063;
  text-align: center;
  font-size: 50px;
}

.service-common p {
  font-size: 20px;
}

.service a:hover {
  box-shadow: 4px 4px 8px 3px #313131;
  transform: scale(1.07);
}

.air h3, .sea h3, .store h3, .distrib h3 {
  font-size: 34px;
  color: black;
}

.air h3:before {
  content: " ";
  background: url("../images/icons/travel-icon-214.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  left: -50px;
  top: 19px;
}

.sea h3:before {
  content: " ";
  background: url("../images/icons/shipping-icon-339.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  left: -50px;
  top: 19px;
}

.store h3:before {
  content: " ";
  background: url("../images/icons/storage-icon-6656.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  left: -50px;
  top: 19px;
}

.distrib h3:before {
  content: " ";
  background: url("../images/icons/delivery-icon-7990.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  left: -50px;
  top: 19px;
}

/* adaptiveness */

@media only screen and (max-width: 576px) {

  .service {
    flex-direction: column;
    align-items: center;
  }

  .service a {
    width: 91%;
    margin: 10px 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {

  .service a {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  .service a {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .service a {
    width: 40%;
  }
}